<div class="portfolio-item" style="position: absolute;">
    <a class="portfolio-item__link" href="{{post.url}}">
        <div class="portfolio-item__image">
            <img class="portfolio-item__image_center" src="{{site.images}}/{{post.main_image}}" alt="{{post.main_image_alt}}" />
        </div>
        <div class="portfolio-item__content">
            <div class="portfolio-item__info">
                <h2 class="portfolio-item__title">{{post.title}}</h2>
                <p class="portfolio-item__subtitle">{{post.subtitle}}</p>
            </div>
        </div>
    </a>
</div>